@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-color: #ffffff6c;
    color: #fff;
    padding: 100px;
    text-align: center;
}

.text-section {
    background-color: #b9b9b9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

/* Navbar Style */

.navbar {
    background-color: rgb(39 39 42);
    padding: 1vw 2vw;
}

.navbar-logo {
    width: 25vw;
    height: 1.75vw;
    top: 3.2vw;

-webkit-user-drag: none;
-moz-window-dragging: none;



.navbar-logo:hover {
    cursor: pointer;
}

.navbar-element-container {
    display: flex;
    justify-content: center;
    align-items: center;

.nav-element {
    color: #ffffff;
    display: inline-flex;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
}

.nav-element:hover {
    color: #ffbb00;
    text-decoration: underline;
}

/* Pages Style */

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 4px;

    width: 4vw;
    height: 4vw;
    
    background-color: #776b6b;
    font-size: 3em;
    text-decoration: none;
    
    z-index: 1000;
    display: none; /* Nasconde il bottone all'inizio */
}

.back-to-top > img {    
    -webkit-user-drag: none;
    -moz-window-dragging: none;
}

.back-to-top:hover {
    background-color: #635e5e;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}